
@{
	ViewBag.Title = "Create";
}

<div class="modal-header">
	<h5 class="modal-title">Create Auction</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form id="createForm" action="/Auctions/Create" method="post">
	<div class="modal-body">
		<div class="form-group">
			<label>Title</label>
			<input class="form-control" name="Title" placeholder="Enter Auction Title" />
		</div>

		<div class="form-group">
			<label>Description</label>
			<input class="form-control" name="Description" placeholder="Enter Auction Description" />
		</div>

		<div class="form-group">
			<label>Price</label>
			<input class="form-control" name="ActualAmount" placeholder="Enter Auction Price" />
		</div>

		<div class="form-group">
			<label>StartingDate</label>
			<input class="form-control" name="StartingDate" placeholder="Enter Starting Date" />
		</div>

		<div class="form-group">
			<label>EndingDate</label>
			<input class="form-control" name="EndingDate" placeholder="Enter Ending Date" />
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button id="saveButton" class="btn btn-success" type="button">Save</button>
	</div>
</form>

<script>

	$("#saveButton").click(function () {
		debugger;
		$.ajax({
			url: "@Url.Action("Create","Auctions")",
			type: "post",
			data: $("#createForm").serialize()
		}).done(function (response) {
			//alert("Record  Inserted Successfuly");
			window.location.reload();
			//$("#listingArea").html(response);
			//$("#formModal").modal("toggle");

		}).fail(function () {
			alert("There is some thing wrong ! please try agina ");
		});
	});
</script>